extends layout

block content
  h1 Edit Contact
  form(method='post', action=`/contacts/${contact.id}/edit`)
    label(for='firstName') First Name:
    input(type='text', name='firstName', value=contact.firstName, required)
    label(for='lastName') Last Name:
    input(type='text', name='lastName', value=contact.lastName, required)
    label(for='emailAddress') Email Address:
    input(type='email', name='emailAddress', value=contact.emailAddress)
    label(for='notes') Notes:
    textarea(name='notes') #{contact.notes}
    button(type='submit') Update Contact
