extends layout

block content
  div.container-fluid
    div.row.justify-content-center.align-items-center.min-vh-100
      div.col-md-6
        div.card
          div.card-body
            h1.card-title.text-center.mb-4 Edit Contact
            form(method='post', action=`/contacts/${contact.id}/edit`)
              .form-group
                label(for='firstName') First Name:
                input.form-control(type='text', name='firstName', value=contact.firstName, required)
              .form-group
                label(for='lastName') Last Name:
                input.form-control(type='text', name='lastName', value=contact.lastName, required)
              .form-group
                label(for='emailAddress') Email Address:
                input.form-control(type='email', name='emailAddress', value=contact.emailAddress)
              .form-group
                label(for='notes') Notes:
                textarea.form-control(name='notes') #{contact.notes}
              button.btn.btn-primary.btn-block(type='submit') Update Contact
